.mx-sidebar{
  height:100%;
  width:200px;
  background-color:#fff;
  position:fixed;
  z-index: 0;
  overflow-y: auto;
  }


.mx-light-grey{
  
  background-color:grey;
  }
  
.mx-bar-block{
  top:3px;
  left:0;
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  
}
  
.mx-bar-item {
  text-decoration:none;
  color:white;
  padding:8px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0;
}


 

.mx-button {
  white-space:normal;
  }

.mx-button:hover{
  color:#000;
  background-color:#ccc;
  }




.mx-teal a{
  font-size:30px;
  text-decoration:none;
  color:white;
  background-color:#009688;
  padding:20px;

  }

.scrollmenu {
  width: 270px;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.mx-container{
  display:block;
  clear:both;
  padding:25px;
  
}
