


.mx-sidebar{
  height:100%;
  width:200px;
  background-color:#fff;
  position:fixed;
  z-index: 1;
  overflow-y: auto;
  }


.mx-light-grey{
  color:#000;
  background-color:#f1f1f1;
  }
  
.mx-bar-block{
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
  
}
  
.mx-bar-item{
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0;
}

.mx-button{
  white-space:normal;
  }

.mx-button:hover{
  color:#000;
  background-color:#ccc;
  }



.mx-container{
  content:"";
  display:table;
  clear:both;
  padding:0.01em 16px;
}

.mx-teal a {
  
  color:white;
  background-color:#009688;
  }
